{ 
  "name": "{{ repo_name }}",
  "version": "0.1.0",
  "repo": "goodcleanfun/{{ repo_name }}",
  "description": "{{ description }}",
  "keywords": ["tokenizer", "lexer", "re2c", "fsa", "{{ name }}"],
  "dependencies": {
    {% if standard_token_types -%}
    "goodcleanfun/token_types": "*",
    {%- endif %}
    {% if unicode_categories -%}
    "goodcleanfun/unicode_categories": "*",
    {%- endif %}
    {% if unicode_word_breaks -%}
    "goodcleanfun/word_breaks": "*",
    {%- endif %}
    {% if emoji -%}
    "goodcleanfun/emoji_sequences": "*",
    {%- endif %}
    "goodcleanfun/token_array": "*"
  },
  "license": "{{ license }}",
  "src": [
    "src/{{ prefix | trim('_') }}_scanner.h",
    "src/{{ prefix | trim('_') }}_scanner.c"
  ]
}
